<title>Home</title>
<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"/>
<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap" rel="stylesheet"/>
<link rel="stylesheet" href="css/style.css"/>

{% include 'nav/nav_home.html.twig' %}

<div class="wrapper">
	{% block body %}

		<section class="vertical-flex">

			{# <div class="gallery-container" style="margin-bottom: 400px">
				{% for artwork in artworks %}

					<div class="gallery-item gallery-item-{{loop.index}}">
						<div class="image">
							<a href="{{ path('artwork', {'id': artwork.id} )}}">
								<img class="gallery-image" src="{{ asset('images/' ~ artwork.name) }}" alt="{{ artwork.name }}"/>
							</a>
						</div>
					</div>

				{% endfor %}

			</div> #}
			{% include 'nav/vertical_nav.html.twig'%}
			<div class="gallery-container2">
				{% for artwork in artworks %}

					<div class="gallery-item gallery-item2-{{loop.index}}">
						<div class="image">
							<a href="{{ path('artwork', {'id': artwork.id} )}}">
								<img class="gallery-image" src="{{ asset('images/' ~ artwork.name) }}" alt="{{ artwork.name }}"/>
							</a>
						</div>
					</div>

				{% endfor %}

			</div>





		</section>


	{% endblock %}
</div>
{% block javascripts %}
	<script></script>
{% endblock %}
