{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<section>
		<div class="card-container flex">
			{% for artwork in artworks %}

				{#

				<div style="--c:#fff5" class="card">
					<div class="content">
						<img src="{{ asset('images/' ~ artwork.name) }}" alt="{{ artwork.name }}" class="card-img-top">
						<h5>{{ artwork.name }}</h5>
					</div>
				</div>
				
				#}

				<figure style="--c:#fff5">
					<img src="{{ asset('images/' ~ artwork.name) }}" alt="{{ artwork.name }}" />
					<figcaption>The Night</figcaption>
				</figure>

			{% endfor %}
		</div>


	</section>


{% endblock %}

{% block javascripts %}


{% endblock %}